* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid black;
  height: 50px;
  padding: 15px;
  width: 100%;
}

main {
  background-color: gray;
  display: block;
  min-height: calc(100vh - 100px);
  padding: 15px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  border: 1px solid black;
  bottom: 0;
  height: 50px;
  padding: 15px;
  position: fixed;
  width: 100%;
}

.accountCard,
.transactionCard {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  margin: 25px 0;
  padding: 15px;
}
